<%= content_for :body_attributes, "onload='REDIPS.drag.init();'" %>
<h1><%= h @site.name %>'s inventory storage Locations</h1>
<h2>You can drag these locations. Click the heading to set item order</h2>
<br>


<%= form_tag(url_for(:action => "setup"), :remote => true) do %>
  <%= text_field_tag :find, params[:find] %>
  <button class="btn" title="Submit Search">Search</button>
<% end %>

<br>

 <%= form_tag(url_for(:action => 'update_itemlocs')) do %>
 <p><%= submit_tag "Save", :name => "submit" %></p>
<div id="drag">
  <table id="table1" style= background-color: #777; height: 20px;" border="1" cellpadding="2" cellspacing="1">
      <tr>
        <td class="trash" title="Trash">Trash</td>
      <% @storelocs.each do |storeloc| %>
          <td class="mark"><%= link_to storeloc.name, edit_storeloc_path(storeloc) %><%= hidden_field_tag storeloc.id, storeloc.id %></td>
      <% end %>
      </tr>
      <tr style="background-color: #eee">
      <% @storeTemp.each_with_index do |items, idx| %>
        <% if idx == 0 %>
        <td class = "single">
          <div id="replaceable">
          <% items.each do |item| %>
          <div id="<%= item.id%>" class="drag t3 clone"><%= hidden_field_tag("index[none][]", item.id , :class=>'song') -%><%= item.name %></div>
          <%end %>
          </div>
        </td>
        <% else %>
        <td>
          <% items.each do |item| %>
          <div id="<%= item.id%>" class="drag t1"><%= hidden_field_tag("index[#{@storelocs[idx-1].id}][]", item.id , :class=>'song') -%>
            <%=h item.mfgcode %></br>
            <%=h item.mfgname %></br>
            <%=h item.name %>
          </div>
          <% end %>
        </td>
        <% end %>
      <% end %>
      </tr>
    </table>
  <br>
  <%= submit_tag "Save", :name => "submit" %>
<% end %>
</div>
<br><br>

<!-- <%= link_to 'New Storage Location', new_storeloc_path %>

-->

