<%= form_for(@note, :remote => true) do |f| %>
  <p>
    <%= f.label :entry %><br />
    <%=  f.hidden_field :student_id, :value => @note.student_id, :id => "studentnotehidden" %>
    <%= f.text_area :entry, :id => "notetextarea", :rows => 5, :width => "50%" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
