<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @diet.student %>
</p>

<p>
  <strong>Schoolyear:</strong>
  <%= @diet.schoolyear %>
</p>

<%= link_to 'Edit', edit_diet_path(@diet) %> |
<%= link_to 'Back', diets_path %>
