<h1>Editing site</h1>

<%= form_for(@site) do |f| %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= collection_select :site, :user_id, User.all, :id, :fullname, {:include_blank => true } %>
  </p>
  <p>
    <%= f.label :sitetype %><br />
    <%= collection_select :site, :sitetype_id, Sitetype.all, :id, :name, {:include_blank => true } %>
  </p>
    <%= f.label :nurse_name %><br />
    <%= f.text_field :nurse_name %>
  <p>
    <p>
      <%= f.label :nurse_email %><br />
      <%= f.text_field :nurse_email %><br />
    </p>
  <p>
    <%= f.label :nurse_phone %><br />
    <%= f.text_field :nurse_phone %><br />
  </p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @site %> |
<%= link_to 'Back', sites_path %>
